.page {
    width: 100%;
    position: relative;
    height: 440px;
    border-radius: 15px;
    padding: 20px 30px;
    max-width: 440px;
    background-color: #fff;
    margin-top: -50px;
    animation: pageShow .5s forwards;
    overflow: hidden;

    .page-content {
        margin-top: 20px;
        opacity: 0;
        animation: pageContentShow .3s .5s forwards;
    }

    h1 {
        animation: pageTitleShow .8s .1s forwards;
        opacity: 0;
        width: 300px;
        font-size: 34px;
    }
}

.SendWord {
    .page-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        gap: 10px;

        input {
            width: 75%;
            height: 50px;
            font-size: 18px;
            border: none;
            background-color: #f0f0f0;
            color: #333;
            outline: none;
            border-radius: 10px;
            padding-left: 10px;
        }

        button {
            width: 30%;
            height: 50px;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #333;
            color: #fff;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: #121212;
            }
        }
    }
}

@keyframes pageShow {
    from {
        width: 0;
        opacity: 0;
        transform: translateX(-200px);
    }

    to {
        width: 440px;
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes pageTitleShow {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes pageContentShow {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}