.Game {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    height: 440px;
    animation: gameShow .8s forwards ;
    margin-top: -50px;
    overflow: hidden;

    .DrawGameField {
        .letterBoxes {
            display: grid;
            gap: 10px;
            
            .letterBox {
                width: 80px;
                height: 80px;
                background-color: rgb(219, 219, 219);
                border-radius: 50%;
                justify-self: center;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 44px;
                font-weight: 700;
                color: rgba(46, 46, 46, 0.667);
                transition: all .2s;

                &.correct {
                    background-color: #53cf6c;
                    color: #ffffffaa;
                }
                &.elsewhere {
                    background-color: #ffb647;
                    color: #ffffffaa;
                }
                &.wrong {
                    background-color: #b8b8b8;
                    color: #ffffffba;
                }
            }
        }
    }
}

@keyframes gameShow {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 620px) {
    .Game {

        .DrawGameField {

            .letterBoxes {
                grid-template-columns: repeat(5, 60px) !important;
                grid-template-rows: repeat(5, 60px) !important;
        
                .letterBox {
                    width: 60px;
                    height: 60px;
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .Game {

        align-items: flex-start;

        .DrawGameField {

            .letterBoxes {
                grid-template-columns: repeat(5, 40px) !important;
                grid-template-rows: repeat(5, 40px) !important;
        
                .letterBox {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}