.Navigation {
    display: grid;
    justify-content: space-between;
    width: 100%;
    height: 440px;
    position: absolute;
    bottom: 0;

    .nav-back {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        left: 0px;
        position: absolute;
        opacity: 0;
        animation: backBtnShow .3s .5s forwards ease-in;

        a {
            font-size: 18px;
        }
    }

    nav {
        grid-column: 2/3;
        display: grid;
        right: -70px;
        position: absolute;
        animation: navigationShow .3s .5s forwards;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 10px;
        padding: 0;
        height: 100%;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .send-word {
        padding-bottom: 5px;
        font-size: 34px;
    }

    a {
        width: 50px;
        height: 50px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all .3s;
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &.back-btn {
            position: absolute;
            left: -70px;
        }

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

}


@keyframes backBtnShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes navigationShow {
    from {
        opacity: 0;
        right: 0;
    }

    to {
        opacity: 1;
        right: -70px;
    }
}