.Button {
    outline: none;
    padding: 10px 15px;
    height: 40px;
    transition: all .3s;
    border-radius: 7px;
    cursor: pointer;

    &.filled {
        background-color: #000;
        color: #fff;
        border-radius: 7px;
        border: none;

        &:hover {
            background-color: rgb(53, 53, 53);
        }
    }

    &.outlined {
        border: 1px solid #000;
        background-color: #fff;
        color: #000;
    }
}

.Button.light__btn {
    background-color: #fff;
    color: #000;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.Button.red__btn {
    background-color: #f6d5d5fd;
    color: #d58080;
    width: 100%;

    &:hover {
        background-color: #f3dcdcfd;
    }
}